body {
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

main img {
    width: 2%;
    height: 2%;
    object-fit: cover;
    border-radius: 10% 10% 0 0;
}

.button {
    border: none;
    color: black;
    padding: 6px;
    border-radius: 8px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.button:hover {
    box-shadow: 0 0 40px 40px #008000 inset;
    color: #FFFFFF;
}

.button1 {
    margin-right: 0.5%;
    border: none;
    color: black;
    padding: 6px;
    border-radius: 8px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.button1:hover {
    box-shadow: 0 0 40px 40px green inset;
    color: #FFFFFF;
}

.buttondel {

    margin-left: 76.0%;
    margin-top: 2%;
    padding: 3px;
    border-radius: 7px;
    font-size: 10px;
}

.buttondel:hover {
    box-shadow: 0 0 40px 40px red inset;
    color: #FFFFFF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    position: relative;
    margin-right: 50px;
}

.icon {
    margin-left: 5px;
    width: 1%;
    height: 2%;
    background-color: #FFFFFF;
    position: absolute;
}

#form-container {
    margin-top: 2%;
}

#autoridade-form {
    margin-top: 2%;
}

#form-button {
    background-color: gainsboro;
}

.one {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14rem;
    height: auto;
    margin-top: 2%;
    border: 2px solid #008000;
    padding: 2px;
}

.card .fotos{
    width: 50%;
    height: 50%;
    /*border-radius: 50%;*/
    margin-top: 3%;
}

.card .nome1{
    margin-top: 2%;
    margin-bottom: 0;
}

.card .div_btn{
    margin-top: 2%;
}

span .seta1{
    width: 40%;
    height: auto;



/*    width: 40%;
    height: 17%;
    margin-top: 9%;
    */
    border-radius: 50%;
    object-fit: cover;
}


.visitante-arrow {
    width: 40%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.seta{
    display: none;
}

.setaebotao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
    min-width: 100%;
}

.estadoCardHtml {
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    width: 60%;
    background: #d30000;
    box-shadow: 0px 0px 6px 0 #ff0000;
    color: white;
    font-weight: 700;
}
.estadoCardHtml:hover {
    background: #8a2020;
    box-shadow: 0px 0px 12px 0 #d30000;
}
